<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Primary Meta Tags -->
<title>100 Jobs of the Future</title>
<meta name="title" content="100 Jobs of the Future">
<meta name="description" content="What will our future workforce look like? Experts have come together in a new report to predict 100 jobs of the future.">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://100jobsofthefuture.com/">
<meta property="og:title" content="100 Jobs of the Future">
<meta property="og:description" content="What will our future workforce look like? Experts have come together in a new report to predict 100 jobs of the future.">
<meta property="og:image" content="https://100jobsofthefuture.com/img/default-social-tile.jpg">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://100jobsofthefuture.com/">
<meta property="twitter:title" content="100 Jobs of the Future">
<meta property="twitter:description" content="What will our future workforce look like? Experts have come together in a new report to predict 100 jobs of the future.">
<meta property="twitter:image" content="https://100jobsofthefuture.com/img/default-social-tile.jpg">
{% include favicons.html %}
<!-- stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/main.css?v={{site.time | date: '%s%N'}}">
<link rel="stylesheet" href="/css/animate.css">
</head>
<body class="home">
