<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Primary Meta Tags -->
  <title>Report: 100 Jobs of the Future</title>
  <meta name="title" content="Report: 100 Jobs of the Future">
  <meta name="description" content="Experts have come together to predict 100 jobs of the future.">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://100jobsofthefuture.com/report/">
  <meta property="og:title" content="Report: 100 Jobs of the Future">
  <meta property="og:description" content="Experts have come together to predict 100 jobs of the future.">
  <meta property="og:image" content="https://100jobsofthefuture.com/img/report-social-tile.jpg">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://100jobsofthefuture.com/report/">
  <meta property="twitter:title" content="Report: 100 Jobs of the Future">
  <meta property="twitter:description" content="Experts have come together to predict 100 jobs of the future.">
  <meta property="twitter:image" content="https://100jobsofthefuture.com/img/report-social-tile.jpg">
{% include favicons.html %}
  <!-- stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css?v={{site.time | date: '%s%N'}}">
</head>
<body>
