<footer class="site-footer">
  <div class="container">
    <div class="logos">
      <img src="/img/Deakin_Roundel_Logo_MasterV3_Reversed.svg" alt="Deakin University">
      <img src="/img/GRIFF_INT1_STD_REV.svg" alt="Griffith University">
      <img src="/img/FGBR_15GoFurther_WHITE_RvHz_R01_STACKED.svg" alt="Ford Australia">
    </div>
  </div>
  <div class="site-details">
    <div class="container">
      <p><span itemprop="datePublished" content="2019-07-23">This website was first published: 23rd July, 2019</span></p>
      <p itemscope itemtype="http://schema.org/WebSite"><span itemprop="author">Tytler, R.</span>, <span itemprop="author">Bridgstock, R.</span>, <span itemprop="author">White, P.</span>, <span itemprop="author">Mather, D.</span>, <span itemprop="author">McCandless, T.</span>, <span itemprop="author">Grant-Iramu, M.</span>, <span itemprop="author">Bonson, S.</span>, <span itemprop="author">Ramnarine, D.</span>, & <a itemprop="creator" href="https://needawebguy.com/">Penticoss, A.J.</a> (2019, July 23). <i itemprop="name">100 Jobs of the future</i>. <span itemprop="funder">Ford Australia</span>.</p>
      <br>
      <p><a href="/privacy/">Privacy policy</a></p>
    </div>
  </div>
  <a class="top button chevron up" href="#">Top</a>
</footer>
