<footer class="site-footer">
  <div class="container">
    <div class="logos">
      <img src="/img/Deakin_Roundel_Logo_MasterV3_Reversed.svg" alt="Deakin University">
      <img src="/img/GRIFF_INT1_STD_REV.svg" alt="Griffith University">
      <img src="/img/FGBR_15GoFurther_WHITE_RvHz_R01_STACKED.svg" alt="Ford Australia">
    </div>
  </div>
  <div class="site-details">
    <div class="container">
      <p><span itemprop="datePublished" content="2019-07-23">This website was first published: 23rd July, 2019</span></p>
    </div>
  </div>
  <a class="top button chevron up" href="#">Top</a>
</footer>
