<header class="site-header">
  <div class="wide container">
    <a class="logo" href="/">100jobsofthefuture.com <span>A project by Ford Australia, Deakin University and Griffith University</span></a>
    <div class="logos">
      <img class="deakin" src="/img/Deakin_Roundel_Logo_MasterV3_Keyline.svg" alt="Deakin University">
      <img class="griffith" src="/img/GRIFF_INT1_STD_RGB.svg" alt="Griffith University">
      <img src="/img/FGBR_15GoFurther_CMYK_RvHz_R01_STACKED.svg" alt="Ford Australia">
    </div>
    <nav class="site-menu">
      <div class="site-menu-toggle-wrapper"><button class="site-menu-toggle">Menu</button></div>
      <ul>
        <li><a class="about-menu" href="/about/">About this project</a></li>
        <li><a class="report-menu"  href="/report/">Read the report</a></li>
        <li><a class="quiz-menu"  href="/quiz/">Find your ‘job of the future’</a></li>
        <li><a class="browse-menu"  href="/browse/">Browse the 100 jobs of the future</a></li>
        <li><a class="resources-menu"  href="/resources/">Educational resources</a></li>
        <li><a class="contact-menu"  href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
