<header class="site-header">
  <div class="container">
    <a class="logo" href="/">100jobsofthefuture.com <span>A project by Ford Australia and Deakin University</span></a>
    <nav class="site-menu">
      <div class="site-menu-toggle-wrapper"><button class="site-menu-toggle">Menu</button></div>
      <ul>
        <li><a class="about-menu" href="/about/">About this project</a></li>
        <li><a class="report-menu"  href="/report/">Read the report</a></li>
        <li><a class="quiz-menu"  href="/quiz/">Find your ‘job of the future’</a></li>
        <li><a class="browse-menu"  href="/browse/">Browse the 100 jobs of the future</a></li>
        <li><a class="browse-menu"  href="/resources/">Educational resources</a></li>
      </ul>
    </nav>
  </div>
</header>
