<header class="site-header">
  <div class="container">
    <p class="logo"><a class="no-barba" href="/">100jobsofthefuture.com</a></p>
    <nav class="site-menu">
      <div class="site-menu-toggle-wrapper"><button class="site-menu-toggle">Menu</button></div>
      <ul>
        <li><a class="about-menu" href="/about/">Find out about this project</a></li>
        <li><a class="report-menu"  href="/report/">Read our research report</a></li>
        <li><a class="quiz-menu"  href="/quiz/">Find a ‘job of the future’ for you</a></li>
        <li><a class="browse-menu"  href="/browse/">Browse the 100 jobs of the future</a></li>
      </ul>
    </nav>
  </div>
</header>
