{% include report-head.html %}
{% include site-header.html %}
<main>
  <div class="section-heading">
    <div class="container">
      <p>Report</p>
    </div>
  </div>
  <div class="container report">
    <aside class="contents">
      <nav>
        <h2>Contents</h2>
        <ul>
          <li><a href="/report/">Executive summary</a></li>
          <li><a href="/report/introduction/">A Journey into the Future of Work</a></li>
          <li><a href="/report/literature-review/">What the Literature says about the Future of Work</a></li>
          <li><a href="/report/research-design/">Research Design</a></li>
          <li><a href="/report/the-experts/">The Experts</a></li>
          <li><a href="/report/work-futures/">Work Futures: Looking Forward</a></li>
          <li><a href="/report/jobs/">100 Jobs of the Future</a></li>
          <li><a href="/report/references/">References</a></li>
        </ul>
      </nav>
      <h2>Details</h2>
      <p><b>First published:</b> XX Jan 2019</p>
      <p><b>Author(s):</b></p>
      <p><a class="download button" href="">Download PDF version</a></p>
    </aside>
    <article>
{{ content }}
    </article>
  </div>
</main>
{% include site-footer.html %}
<button class="mobile-menu">Contents</button>
{% include foot.html %}
