{% include report-head.html %}
{% include site-header.html %}
<main>
  <div class="section-heading">
    <div class="container">
      <p>Report</p>
    </div>
  </div>
  <div class="container report">
    <aside class="contents">
      <nav>
        <h2>Contents</h2>
        <ul>
          <li><a {% if page.url == "/report/" %}class="selected"{% endif %} href="/report/">Executive summary</a></li>
          <li><a {% if page.url == "/report/introduction/" %}class="selected"{% endif %} href="/report/introduction/">A Journey into the Future of Work</a></li>
          <li><a {% if page.url == "/report/literature-review/" %}class="selected"{% endif %} href="/report/literature-review/">What the Literature says about the Future of Work</a></li>
          <li><a {% if page.url == "/report/research-design/" %}class="selected"{% endif %} href="/report/research-design/">Research Design</a></li>
          <li><a {% if page.url == "/report/the-experts/" %}class="selected"{% endif %} href="/report/the-experts/">The Experts</a></li>
          <li><a {% if page.url == "/report/work-futures/" %}class="selected"{% endif %} href="/report/work-futures/">Work Futures: Looking Forward</a></li>
          <li><a {% if page.url == "/report/jobs/" %}class="selected"{% endif %} href="/report/jobs/">100 Jobs of the Future</a></li>
          <li><a {% if page.url == "/report/references/" %}class="selected"{% endif %} href="/report/references/">References</a></li>
        </ul>
      </nav>
      <p><a class="download button" href="">Download PDF version</a></p>
      <h2>Details</h2>
      <p><b>Published by Deakin University</b><br>
      221 Burwood Highway<br>
      Burwood<br>
      Victoria 3125 Australia</p>
      <p>www.deakin.edu.au</p>
      <p>©2019 Ford Motor Company of Australia Limited</p>
      <p><b>Author(s):</b>
      <br>Russell Tytler,<br> Ruth Bridgstock,<br> Peta White,<br> Dineli Mather,<br> Trevor McCandless,<br> Michelle Grant-Iramu</p>
    </aside>
    <article class="{{ page.articleClass }}">
{{ content }}
    </article>
  </div>
</main>
{% include site-footer.html %}
<button class="mobile-menu">Contents</button>
{% include foot.html %}
