{% include head.html %}
{% include site-header.html %}
<main>
  <div class="section-heading">
    <div class="container">
      <p>Resources</p>
    </div>
  </div>
  <div class="container report">
    <aside class="contents">
      <nav>
        <h2>Activities</h2>
        <ul>
          <li><a {% if page.url == "/resources/" %}class="selected"{% endif %} href="/resources/">Support Activities for Teachers</a></li>
          <li><a {% if page.url == "/resources/activity1/" %}class="selected"{% endif %} href="/resources/activity1/">Activity 1: Understanding Our Self and Our Interests for Future Jobs</a></li>
          <li><a {% if page.url == "/resources/activity2/" %}class="selected"{% endif %} href="/resources/activity2/">Actvity 2: Exploring and Investigating Career Paths of Interest</a></li>
          <li><a {% if page.url == "/resources/activity3/" %}class="selected"{% endif %} href="/resources/activity3/">Activity 3: Exploring Jobs of the future</a></li>
        </ul>
      </nav>
      <p><a class="download button" href="/resources/100jobsofthefuture-activities.pdf">Download PDF version</a></p>
    </aside>
    <article class="{{ page.articleClass }}">
{{ content }}
    </article>
  </div>
</main>
{% include site-footer.html %}
<button class="mobile-menu">Contents</button>
{% include foot.html %}
